#entornos virtuales
venv/
.venv/
env/

#archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

#IDE (pycharm)
.idea/
*.iml

#archivos temporales
*.log
*.tmp

#datos y caché
cache/
cache/*.json
*.cache
*.txt
*.json
*.pdf
*.csv